<{include file="pageheader.htm"}>
<div id="order_list"></div>
<script language="JavaScript" type="text/javascript">
    $(document).ready(function() {
        $('#order_list').datagrid({
            title:'黑名单列表',
            height:get_list_height_fit_window('_search_panel'),
            nowrap: true,
            striped: true,
            collapsible:false,
            rownumbers:true,
            sortName:'id',
            sortOrder:'desc',//降序排列
            idField:'id',
            url:'index.php?c=black&m=get_list',
            frozenColumns:[[
                {field:'ck',checkbox:true},
                {title:'id',field:'id',width:160,sortable:true,align:'center'},
                {title:'中继号码',field:'trunk_num',width:160,sortable:true,align:'center'}

            ]],
            columns:[[
                {title:'号码',field:'phone_num',width:160,sortable:true,align:'center'}
            ]],
            toolbar:[{
                iconCls:'icon-add',
                text:'添加',
                handler:function()
                {
                    location.href = "index.php?c=black&m=black_add";
                }
            },{
                iconCls:'icon-del',
                text:'删除',
                handler:function()
                {
                    var ids = getSelections();
                    if (!ids) {
                        $.messager.alert('提示框', '请选择要删除的数据');
                    } else {
                        $.messager.confirm('确认框', '是否要删除选中的数据？', function(r){
                            if (r) {
                                $.ajax({
                                    url: 'index.php?c=black&m=black_delete',
                                    type: 'post',
                                    dataType: 'json',
                                    data: {ids: ids},
                                    success: function(response) {
                                        if (!response['error']) {
                                            $('#order_list').datagrid('reload');
                                        } else {
                                            $.messager.show(response['message']);
                                        }
                                    }
                                });
                            }
                        });
                    }
                }
            }
            ]
        });
    });

    /**
     *列表得到选中的id
     */
    function getSelections()
    {
        var ids = [];
        var rows = $('#order_list').datagrid('getSelections');
        for(var i=0;i<rows.length;i++){
            ids.push(rows[i].id);
        }
        return ids.join(',');
    }
</script>
<{include file="pagefooter.htm"}>
