<div id="contact_record" class="main-div"></div>
<div id="listen_record_panel"></div>
<div id="contact_record_content" class="easyui-window" title="联系内容-详情" style="width:350px;padding:10px;" data-options="closed:true,collapsible:false,minimizable:false,maximizable:false,cache:false,modal:false,closable:true,draggable:false"></div>
<script language="JavaScript" type="text/javascript">
var global_cle_id = <{$cle_id|default:0}>;
var global_order_id =<{$order_id|default:0}>;
var power_download_record = <{$power_download_record}>;//录音下载
</script>
<script src="./jssrc/viewjs/client_contact_record.js?1.2" type="text/javascript"></script>