<form class="form-search" action="javascript:quick_search()" method="POST" name="searchForm" id="searchForm">
    <!--今日已联系/今天要回访/7天内要回访/过期未回访-->
    <div class="btn-group" data-toggle="buttons-radio">
    	<{if $flag=='my_client'}>
    	<button class="btn btn-link" id='td0' onclick="visit_type = '0'; quick_search('visit');">我的客户</button>
    	<{else}>
       	<button class="btn btn-link" onclick="visit_type = '0'; quick_search('visit');">全部客户</button>
        <{/if}>
        <{if $power_cle_stat}>
        <button class="btn btn-link" onclick="visit_type='1'; quick_search('visit');">今天已呼通</button>
        <{/if}>
        <button class="btn btn-link" onclick="visit_type='2'; quick_search('visit');">今天要回访</button>
        <button class="btn btn-link" onclick="visit_type='3'; quick_search('visit');">3天内要回访</button>
        <button class="btn btn-link" onclick="visit_type='4'; quick_search('visit');">过期未回访</button>
    </div>
    |
    <div class="btn-group" data-toggle="buttons-radio">
        <{if $power_cle_stat}>
        <button class="btn btn-link stat-btn" onclick="stat_type='未拨打'; quick_search('stat');">未拨打</button>
        <button class="btn btn-link stat-btn" onclick="stat_type='未呼通'; quick_search('stat');">未呼通</button>
        <{/if}>
    </div>

   <!-- <div class="btn-group" data-toggle="buttons-radio">
        <{foreach from=$cle_stage item=stage key=skey}>
        <button id="stage<{$skey}>" class="btn btn-link" onclick="stage_type='<{$stage.name}>'; quick_search();"><{$stage.name}></button>
        <{/foreach}>
    </div>-->
    <div style="display: block;margin: 5px"></div>
    <label for="search_key"></label>
    <input type="text" data-toggle="tooltip" title="支持客户/联系人名称 或 电话(4位以上)搜索,注最多检索10条" class="form-control input-sm"
           id="search_key" name="search_key" onclick='search_cle_name()' onblur='if_null()' value="客户姓名支持拼音首字母" />
    <button class="btn btn-primary" onclick="$('#searchForm').submit();">
        <span class="glyphicon glyphicon-search"></span> 搜索
    </button>
    <button type="button" class="btn" onclick="advanced_search()">
        <span class="glyphicon glyphicon-zoom-in"></span> 高级搜索
    </button>
</form>
<script language="JavaScript" type="text/javascript">
$(document).ready(function(){
	//text绑定回车事件
	$("input[type='text']").keydown(function(event){
		if(event.keyCode == 13){
			$('#searchForm').submit();
		}
	});
	$('#search_key').on('focus', function(){
		$(this).tooltip({placement: 'bottom'}).tooltip('show');
	});
});

/*1：今天已联系/2:今天要回访/3:7天内要回访/4:过期未回访*/
var visit_type = "";
/*未拨打  / 未呼通 */
var stat_type = "";
/*客户阶段*/
//var stage_type = "";
//检索
function quick_search(type)
{
	/*客户名称*/
	if($('#search_key').val() == '客户姓名支持拼音首字母')
	{
		var search_key = '';
	}
	else
	{
		var search_key = $('#search_key').val();
	}

    if(visit_type==0 && type=='visit')
    {
        stat_type = "";
        $(".stat-btn").removeClass('active');
    }

	$('#client_list').datagrid('options').queryParams = {};
	var queryParams = $('#client_list').datagrid('options').queryParams;
	queryParams.visit_type = visit_type;
	
	queryParams.cle_stat   = stat_type;
	//queryParams.cle_stage  = stage_type;
	queryParams.search_key = search_key;
	<{if $flag=='my_client'}>
	queryParams.user_id   = '<{$user_session_id}>';
	<{/if}>
	$('#client_list').datagrid('reload');
}

//点击清空
function search_cle_name()
{
	var _name = $('#search_key').val();
	if(_name == '客户姓名支持拼音首字母')
	{
		$('#search_key').css('color','#000000');
		$('#search_key').val('');
	}
}
//判断是否为空
function if_null()
{
	var name_value = $('#search_key').val();
	if(name_value.length == 0)
	{
		$('#search_key').css('color','#cccccc');
		$('#search_key').val('客户姓名支持拼音首字母');
	}
}
</script>