<div class="main-div" style="padding-top:20px;">
<input type="hidden" id="add_cle_id" name="add_cle_id" value="<{$cle_id}>"/>
<input type="hidden" id="add_con_id" name="add_con_id" value="<{$con_id}>"/>
<table borderColor="#ffffff" cellSpacing="0" cellPadding="0" style="width:95%;" align="center"   >
   <tbody>
      <tr>
        <td class="micro-label"><label for="con_name">联系人姓名：<label></td>
        <td><input type="text"  name="con_name" id="con_name"  value="<{$contact_info.con_name}>" class="span2"></td>
        <td class="micro-label"><label for="con_mobile">联系人电话：<label></td>
        <td>
        	<div class="input-append">
              <input type="text" id="con_mobile"  name="con_mobile"  onkeyup='number_verification()' value="<{$contact_info.con_mobile}>" class="span2" />
              <button type="button" class="btn" onclick="sys_dial_num('<{$contact_info.con_mobile}>','con_mobile')" title="呼叫号码">
                  <span class="glyphicon glyphicon-phone"></span>
              </button>
              <{if $power_sendsms}>
              <button type="button" class="btn" onclick="sys_send_sms('<{$contact_info.con_mobile}>','con_mobile')" title="发送短信">
                   <span class="glyphicon glyphicon-envelope"></span>
              </button>
              <{/if}>
         	</div>
         	<span id='_phone_con_msg' style='color:red;'></span>
        </td>   
    </tr>
    <{if $contact_base.con_mail}>
    <tr>
      <td class="micro-label"><label for="con_mail">邮箱：</label></td>
      <td><input type="text" id="con_mail"  name="con_mail"  value="<{$contact_info.con_mail}>" class="span2" /></td>
    </tr>
    <{/if}>
    
     <!--自定义字段  -----begin-------->
    <{counter start=0 print=false assign='contact'}><!--  计算  -->
    <{foreach from=$contact_confirm item=confirm_info key=ckey name=list_Name}>
    <{assign var="parent_id" value=$confirm_info.id}>
    <{assign var="real_field" value=$confirm_info.fields}> 
    
    <{if $confirm_info.data_type==3}>
    <{counter start=0 print=false assign='contact'}><!-- 从新计算 -->
      <tr>
       <td class="micro-label"><label for="<{$confirm_info.fields}>">
           <{if $confirm_info.if_require==2}><span style='color:red;font-weight:bold;'>*</span><{/if}><{$confirm_info.name}>：
       </td>
       <td colspan="5"><textarea id="<{$confirm_info.fields}>" name="<{$confirm_info.fields}>" style="width:90%" contact_confirm='true' rows="4" cols="20" <{if $confirm_info.if_require==2}>class="easyui-validatebox" required="true" contact_if_require='true'<{/if}> ><{$contact_info.$real_field}></textarea>
       </td>
	  </tr>
	  
<{elseif $confirm_info.data_type==4}>
<{counter start=0 print=false assign='contact'}><!-- 从新计算 -->
<tr>
    <td class="micro-label">
        <label for="<{$confirm_info.fields}>">
            <{if $confirm_info.if_require==2}><span style='color:red;font-weight:bold;'>*</span><{/if}><{$confirm_info.name}>：
        </label>
    </td>
    <td colspan="11">
    	<span id="<{$confirm_info.fields}>_1">
	 	 <select name='<{$confirm_info.fields}>_1' style="width:110px;" contact_confirm='true' onchange="get_comfirm_jl_options_contact(1,'<{$confirm_info.fields}>','<{$confirm_info.jl_series}>',<{$confirm_info.id}>)" <{if $confirm_info.if_require==2}>class="easyui-validatebox" required="true" if_require='true' _chinese_name='<{$confirm_info.name}>_1'<{/if}> >
		 <option value="" >--请选择--</option>
		  <{assign var="field_type" value=$confirm_info.fields|cat:'_1'}>
		  <{foreach from=$jl_options_contact.$field_type item=option key=jlkey}>
          <option value="<{$jlkey}>" <{if $jlkey==$contact_info.$field_type}>selected<{/if}> ><{$option}></option>
          <{/foreach}>
	     </select>
	    </span>
	    <{assign var="jl_f_t" value=$confirm_info.jl_field_type}>
	    <{assign var="field_type2" value=$confirm_info.fields|cat:'_2'}>
	    <span id="<{$confirm_info.fields}>_2">
	    <{assign var="p_id" value=$contact_info.$field_type}>
	    	<{if $contact_info.$field_type}>
	    		<{if $jl_f_t[$p_id]&&$jl_f_t[$p_id]==1}>
	    			<input type='text' name='<{$confirm_info.fields}>_2' value='<{$contact_info.$field_type2}>' contact_confirm='true' style="width:110px;" />
	    		<{else}>
	    			<select name="<{$confirm_info.fields}>_2" style="width:110px;" contact_confirm='true' <{if $confirm_info.jl_series==3}>onchange="get_comfirm_jl_options_contact(2,'<{$confirm_info.fields}>','<{$confirm_info.jl_series}>',<{$confirm_info.id}>)"<{/if}> >
        				<option value="">--请选择--</option>
       	 				<{foreach from=$jl_options_contact.$field_type2 item=option key=jlkey}>
        				<option value="<{$jlkey}>" <{if $jlkey==$contact_info.$field_type2}>selected<{/if}> ><{$option}></option>
        				<{/foreach}>
        			</select>
	    		<{/if}>
	    	 <{/if}>
	     </span>

	     <{if $confirm_info.jl_series==3}>	      
	      <span id="<{$confirm_info.fields}>_3">
	      <{assign var="field_type3" value=$confirm_info.fields|cat:'_3'}>
	    	<{if $contact_info.$field_type2}>
	    	<{assign var="p_id2" value=$contact_info.$field_type2}>

	    		<{if $jl_f_t[$p_id2]&&$jl_f_t[$p_id2]==1}>
	    			<input type='text' name='<{$confirm_info.fields}>_3' value='<{$contact_info.$field_type3}>' contact_confirm='true' style="width:110px;" />
	    		<{else}>
	    			<select name="<{$confirm_info.fields}>_3" contact_confirm='true' style="width:110px;">
                        <option value="">--请选择--</option>
                        <{foreach from=$jl_options_contact.$field_type3 item=option key=jlkey}>
                        <option value="<{$jlkey}>" <{if $jlkey==$contact_info.$field_type3}>selected<{/if}> ><{$option}></option>
                        <{/foreach}>
                    </select>
	    		<{/if}>
	     	<{/if}>
	     <{/if}>
    </td>
</tr>


<{elseif $confirm_info.data_type==7}><!--级联多选框-->
<{counter start=0 print=false assign='contact'}><!-- 从新计算 -->
<tr>
    <td class="span2" style="text-align: right">
        <label for="<{$confirm_info.fields}>"><{$confirm_info.name}>：</label>
    </td>
 	<td  colspan="11">
		<table>
			<{assign var="field_type" value=$confirm_info.id|cat:'_1'}>
			<{assign var="field_type2" value=$confirm_info.id|cat:'_2'}>
			<{if $contact_info}>
				<{assign var="field_value" value=$contact_info.$field_type}>
				<{assign var="field_value2" value=$contact_info.$field_type2}>
			<{/if}>
			<{foreach from=$checkbox_options_contact.$field_type item=check_option1 key=id1}>
     		<tr>
                <th style="padding-bottom:5px;"><{$check_option1.name}></th>
     		</tr>
     		<tr>
     			<td style="padding-bottom:5px;">
      				<{foreach from=$checkbox_options_contact.$field_type2 item=check_option key=id2}>
      					<{if $check_option.p_id == $id1}>
         					<input type="checkbox" checkbox_name="<{$confirm_info.fields}>" checkbox_pid="<{$id1}>" name="<{$confirm_info.fields}>_2[]" value="<{$id2}>" contact_confirm='true' <{if $field_value2[$id2]==$id2}>checked<{/if}> /> <{$check_option.name}>&nbsp;
       					<{/if}>
      				<{/foreach}>
      			</td>
      		</tr>
    		<{/foreach}>
		</table>
 	</td>
 </tr>
	
     <{else}>
       <{if $contact%2 == 0 }>
       <tr>
       <{/if}>
       <td class="micro-label"  >
           <label for="<{$confirm_info.fields}>"  >
               <{if $confirm_info.if_require==2}><span style='color:red;font-weight:bold;'>*</span><{/if}><{$confirm_info.name}>：
           </label>
       </td>
       <td>
         <{if $field_detail.$parent_id||$confirm_info.data_type==2}>
          <select id="<{$confirm_info.fields}>"  name="<{$confirm_info.fields}>" style="width:140px;" contact_confirm='true' <{if $confirm_info.if_require==2}>contact_if_require='true'<{/if}> 
           <{foreach from=$field_detail.$parent_id item=detail key=dkey}>
           <option value="<{$detail}>" <{if $detail == $contact_info.$real_field}>selected<{/if}> ><{$detail}></option>
           <{/foreach}>
           <option value="" <{if !$contact_info.$real_field}>selected<{/if}> >&nbsp;</option>
          </select>

        <{elseif $confirm_info.data_type==5}><!-- 日期框 -->
         <div class="input-append">
        	<input type="text" name="<{$confirm_info.fields}>" id="<{$confirm_info.fields}>" value="<{if $form_act=='update_contact'}><{$contact_info[$confirm_info.fields]}><{elseif $confirm_info.default=='系统时间'}><{if $confirm_info.datefmt=='yyyy-MM-dd'}><{$now_date}><{else}><{$now_time}><{/if}><{else}><{$confirm_info.default}><{/if}>" contact_confirm='true' class="span2"  <{if $confirm_info.if_require==2}>_date='date_box' _chinese_name='<{$confirm_info.name}>' if_require='true'<{/if}> readonly>
        	<button type="button" role="date" class="btn" onclick="WdatePicker({el: '<{$confirm_info.fields}>',dateFmt:'<{$confirm_info.datefmt}>'})">
           		<span class="glyphicon glyphicon-calendar"></span>
        	</button>
    	</div>
        <{else}>
           <input type="text" id="<{$confirm_info.fields}>" name="<{$confirm_info.fields}>" contact_confirm='true' value="<{$contact_info.$real_field}>" <{if $confirm_info.if_require==2}>class="easyui-validatebox" required="true" contact_if_require='true'<{/if}> />
        <{/if}>
          </td> 
       <{if $contact%2 != 0 }>
        </tr>
       <{/if}>
       <{counter print=false assign='contact'}><!--   加1   -->
       <{/if}>
    <{/foreach}>
    <!--自定义字段  ------end--------->
   <{if $contact_base.con_remark}>
   <tr>
     <td class="micro-label"><label for="con_remark">备注：</td>
     <td colspan="5"><textarea id="con_remark"  name="con_remark" style="width:100%" rows="4" cols="20"><{$contact_info.con_remark}></textarea></td>
   </tr>
   <{/if}>
   </tbody>
</table>
</div>
<div style="text-align:right;padding-right:20px;padding-bottom:10px">
<span style='color:red' id='_contact_msg'></span>
<a class="easyui-linkbutton" iconCls="icon-save" href="javascript:void(0)" onclick="save_contact()" id="save_contact">保存</a>
<!--<a class="easyui-linkbutton" iconCls="icon-cancel" href="javascript:void(0)" onclick="contact_cancel()">取消</a>-->
</div>		
<script language="JavaScript" type="text/javascript">
var jl_field_type_contact = eval("(" + '<{$jl_field_type_contact}>' + ")");
var contact_original_data = {};//原始数据
$(document).ready(function(){
	<{if !$power_phone_view}>
	$('#con_mobile').val(hidden_part_number($('#con_mobile').val()));
	<{/if}>

	//记录原始数据
    contact_original_data = get_current_value_contact();
});
function contact_cancel()
{
	$('#new_contact_panel').window('close');
}

//保存联系人信息
function save_contact()
{
	//$('#save_contact').linkbutton({'disabled':true});
	//自定义必选字段判断
	var contact_if_continue = true;
	$("[contact_if_require='true']:input").each(function(){
		if($(this).val()==0 || $(this).val()=='')
		{
			contact_if_continue = false;
		}
	});
	if(contact_if_continue==false)
	{
		$('#_contact_msg').html('提示：保存失败，必选项不能为空！');
		setTimeout(function(){
		$("#_contact_msg").html("");
		},2000);
		return false;
	}

	//得到当前数据
	var current_data = get_current_value_contact();
	if( empty_obj(current_data) )
	{
		$.messager.alert('提示',"<br>联系人信息为空，请填写数据！",'info');
		return;
	}

	//数据比较，得到修改过的数据
    <{if $form_act=='insert_contact'}>
    var changed_data = current_data;
    <{else}>
	var changed_data = data_comparison(contact_original_data,current_data);
    <{/if}>
	changed_data.con_id = $("#add_con_id").val();
	changed_data.cle_id = $("#add_cle_id").val();
	$.ajax({
		type:'POST',
		url: "index.php?c=contact&m=<{$form_act|default:'insert_contact'}>",
		data: changed_data,
		dataType: "json",
		success: function(responce){
			if(responce["error"] == 0)
			{
				$('#contact_list').datagrid('reload');
				$('#new_contact_panel').window('close');
			}
			else
			{
				$.messager.alert('错误',"<br>"+responce["message"],'error');
			}
			$('#save_contact').linkbutton({'disabled':false});
		}
	});
}

//得到文本框中当前的值
function get_current_value_contact()
{
	var contact_data = {};

	//联系人基本信息
	contact_data.con_name          = $("#con_name").val();//联系人姓名
	contact_data.con_mobile        = $("#con_mobile").val();//联系人电话
	contact_data.con_mail          = $("#con_mail").val();//邮箱
	contact_data.con_remark        = $("#con_remark").val();//备注
	<{if !$power_phone_view}>
	if(contact_data.con_mobile && exist_star(contact_data.con_mobile) )
	{
		contact_data.con_mobile = "<{$contact_info.con_mobile|default:''}>";
	}
	<{/if}>
	//自定义字段
	$("[contact_confirm='true']:input").each(function(){
		if($(this).attr('type')=='checkbox')
		{
			var field1 = $(this).attr('checkbox_name')+'_1';
            var field2 = $(this).attr('checkbox_name')+'_2';
            var pid = {};
            contact_data[field1] = "";
            contact_data[field2] = "";
			 $("input:checkbox[name='"+$(this).attr('name')+"']").each(function(i){ 
                if($(this).attr("checked")){
                    contact_data[field2] += $(this).val()+",";
                    pid[$(this).attr('checkbox_pid')] = $(this).attr('checkbox_pid');
                }
            });
            $.each(pid, function(index, value) {
            	 contact_data[field1] += value+",";
            });
		}
		else
		{
			contact_data[$(this).attr('name')] = $(this).val();
		}
	});
	return contact_data;
}

//号码验证
function number_verification()
{
	var con_mobile = $('#con_mobile').val();
	// ^[0-9]*[1-9][0-9]*$  正整数  _phone_update_msg
	r = /^[0-9]*[1-9][0-9]*$/;
	if(con_mobile.length!=0)
	{
		if(r.test(con_mobile))
		{
			var msg = '';
		}
		else
		{
			var msg = "<img src='./image/important.gif' border='0' height='16' width='16' align='absmiddle' />&nbsp;<b>号码必须由数字组成</b>";
		}

		$('#_phone_con_msg').html(msg);

	}
}

//级联 - 获取联系人下一级
function get_comfirm_jl_options_contact(deep,field_name,series,field_id)
{
	var jl_field_contact = jl_field_type_contact[field_id];
	var p_id = $('select[name="'+field_name+'_'+deep+'"]').val();
	var next_field = field_name+'_'+(parseInt(deep)+1);
	$('#'+next_field).html('');
	if(series==3 && deep==1)
	{
		$('#'+field_name+'_'+(parseInt(deep)+2)).html('');
	}
	
	if((series==2)||(series==3 && deep==2))
	{
		if(jl_field_contact[p_id]!=undefined && jl_field_contact[p_id]==1)
		{
			$('#'+next_field).html("<input type='text' name='"+next_field+"' style='width:110px;' value='' contact_confirm='true'/>");
		}
		else
		{
			if( p_id > 0 )
			{
                get_jl_options_contact(p_id,field_name,(parseInt(deep)+1),field_id,series);
			}
		}
	}
	else
	{
        get_jl_options_contact(p_id,field_name,(parseInt(deep)+1),field_id,series);
	}
}

    /*获取级联选项信息*/
    function get_jl_options_contact(p_id,field_name,deep,field_id,series)
    {
        var next_field = field_name+'_'+deep;
        $.ajax({
            type:'POST',
            url: "index.php?c=field_confirm&m=get_jl_options",
            data:{"parent_id":p_id,"type":deep,"field_id":field_id},
            dataType:"json",
            success: function(responce){
                if(responce['error']=='0')
                {
                    var str = '';
                    $.each(responce['content'],function(id,value){
                        str +=  '<option value="'+id+'">'+value+'</option>';
                    });
                    if(str.length!=0)
                    {
                        if(series==3&&deep==2)
                        {
                            $('#'+next_field).html("<select name='"+next_field+"' style='width:110px;' contact_confirm='true' onchange=\"get_comfirm_jl_options_contact(2,'"+field_name+"',"+series+",'"+field_id+"')\" >\
		  				<option value=''>--请选择--</option>"+str+"\
	     				</select>");
                        }
                        else
                        {
                            $('#'+next_field).html("<select name='"+next_field+"' style='width:110px;' contact_confirm='true' >\
		  				<option value=''>--请选择--</option>"+str+"\
	     				</select>");
                        }
                    }
                }
                else
                {
                    $.messager.alert('错误',"<br>".responce['message'],'error');
                }
            }
        });
    }
</script>