<{include file="pageheader.htm"}>
<div style='padding-top:10px;'>
<table id="_table_field_confirm_<{$field_type}>" cellspacing="0" cellpadding="0" align="center" style="width:99%;border-collapse: collapse; border: 0px solid gray;" >
<tbody>	
<{if $edit_field_confirm}>
<{foreach from=$edit_field_confirm item=field_info key=dkey name=list_name}>
<{if $smarty.foreach.list_name.index%2 == 0 }>
<tr align="center" style="padding-top:5px;">
<{/if}>
<td style="text-align:right;width:15%;">		
<span class='easyui-tooltip' title="是否启用" data-options="position:'left'"><input type="checkbox" fields='<{$field_info.fields}>' <{if $field_info.state == 1}>checked<{/if}> /></span>&nbsp;&nbsp;
</td>
<td style="text-align:left;">
    <div class="input-append">
        <input type="text" id="_<{$field_info.fields}>" maxlength="25" value="<{$field_info.name}>" <{if $field_info.state == 0}> readonly <{/if}> />
        <span class="easyui-tooltip add-on" title="自定义字段 - 详细设置" onclick="_set_options('<{$field_info.id}>');" >
        <a href="#" style="cursor: pointer;"><i class="glyphicon glyphicon-tasks"></i></a></span>
    </div>
</td>
<{if $smarty.foreach.list_name.index%2 != 0  }>
</tr>
<{/if}>
<{/foreach}>
<{/if}>
</tbody>
</table>
<div align="center"  style="padding-top:20px;padding-bottom:10px;">
<button class="btn btn-primary" onclick="_add_field();" id="_field_add_row_<{$field_type}>" title="添加新字段">
    <span class="glyphicon glyphicon-plus"></span> 添加
</button>
<button class="btn btn-primary" onclick="_delete_field();" id="_field_del_row_<{$field_type}>" title="删除最后一行">
    <span class="glyphicon glyphicon-minus"></span> 删除
</button>
<button class="btn btn-primary" onclick="_save_field();" id="_field_confirm_save_<{$field_type}>" title="确定 - 保存配置">
    <span class="glyphicon glyphicon-saved"></span> 保存配置
</button>
<span id='_field_save_tip_<{$field_type}>' style='color:red;'></span>
</div>
</div>

<div id="_field_confirm_options_<{$field_type}>"></div> <!-- 自定义字段详细设置  -->
<{include file="pagefooter.htm"}>
<script language="JavaScript" type="text/javascript">
$(document).ready(function(){
	//checkbox的onclick事件
	$('#_table_field_confirm_<{$field_type}> input[type="checkbox"]').click(function(){
		var fields = $(this).attr('fields');
		if($(this).attr('checked')=='checked')
		{
			$("#_"+fields+"").attr('readonly',false);
		}
		else
		{
			$("#_"+fields+"").attr('readonly',true);
		}
	});
});

/**
 * 选项配置
 * @param field_id
 * @private
 */
function _set_options(field_id)
{
	$('#_field_confirm_options_<{$field_type}>').window({
		href:"index.php?c=field_confirm&m=field_option_setting&field_id="+field_id,
		top:50,
		width:500,
		title:"自定义字段 - 详细设置",
		shadow:false,
		collapsible:false,
		minimizable:false,
		maximizable:false,
		resizable:false,
		cache:false
	});
}

/**
 * 添加字段
 */
function _add_field()
{
	$('#_field_add_row_<{$field_type}>').attr('disabled',true);
	$.ajax({
		type:'POST',
		url: 'index.php?c=field_confirm&m=add_two_empty_fields',
		data: {'field_type':'<{$field_type}>'},
		dataType: 'json',
		success: function(responce){
			if(responce["error"] == 0)
			{
				var unit_info1={};
				unit_info1.id = responce['id1'];
				unit_info1.fields = responce['fields1'];
				unit_info1.custom_poz = responce['custom_poz1'];
				unit_info1.name = responce['name1'];
				var unit_info2={};
				unit_info2.id = responce['id2'];
				unit_info2.fields = responce['fields2'];
				unit_info2.custom_poz = responce['custom_poz2'];
				unit_info2.name = responce['name2'];
				var tr = $('\
				        <tr align="center" style="padding-top:5px;"> \
                            <td style="text-align:right;width:15%;" > \
                                <span class="easyui-tooltip" title="是否启用" data-options="position:\'left\'"> \
                                    <input type="checkbox" fields="'+unit_info1.fields+'" /> \
                                </span>&nbsp;&nbsp; \
                            </td> \
				            <td style="text-align:left;" > \
                                <div class="input-append"> \
                                    <input type="text" id="_'+unit_info1.fields+'"  maxlength="25" value="'+unit_info1.name+'" readonly/> \
                                    <span class="easyui-tooltip add-on" title="自定义字段 - 详细设置" onclick="_set_options(\''+unit_info1.id+'\');" > \
                                        <a href="#" style="cursor: pointer;"><i class="glyphicon glyphicon-tasks"></i></a> \
                                    </span> \
                                </div> \
                            </td> \
                            <td style="text-align:right;width:15%;" >\
                                <span class="easyui-tooltip" title="是否启用" data-options="position:\'left\'"> \
                                    <input type="checkbox" fields="'+unit_info2.fields+'"/>\
                                </span>\
                            </td> \
				            <td style="text-align:left;" >\
				                <div class="input-append"> \
				                    <input type="text" id="_'+unit_info2.fields+'"  maxlength="25" value="'+unit_info2.name+'" readonly/> \
				                    <span class="easyui-tooltip add-on" title="自定义字段 - 详细设置" onclick="_set_options(\''+unit_info2.id+'\');" > \
                                       <a href="#" style="cursor: pointer;"><i class="glyphicon glyphicon-tasks"></i></a> \
                                    </span> \
                                </div>\
                            </td>\
				        </tr>');
				$('input[type="checkbox"]',tr).click(function(){
					var fields = $(this).attr('fields');
					if($(this).attr('checked')=='checked')
					{
						$("#_"+fields+"").attr('readonly',false);
					}
					else
					{
						$("#_"+fields+"").attr('readonly',true);
					}
				});
				tr.appendTo('#_table_field_confirm_<{$field_type}>');

				$('#_field_add_row_<{$field_type}>').attr('disabled',false);
			}
			else
			{
				$.messager.alert('错误',responce['message'],'error');
			}
		}
	});
}

/**
 * 删除自定义字段最后一行
 */
function _delete_field()
{
	var field_type = '<{$field_type}>';
	if(field_type==0)
	{
		var control_flag = 12;//客户的初始自定义字段为12个
	}
	else if(field_type==1)
	{
		var control_flag = 10;//联系人初始有10个自定义字段
	}
	else if(field_type==2)
	{
		var control_flag = 12;//产品初始有12个自定义字段
	}
	else if(field_type==3)
	{
		var control_flag = 0;//订单初始有0个自定义字段
	}
	else if(field_type==4)
	{
		var control_flag = 0;//客服服务 初始有0个自定义字段
	}

	$('#_field_del_row_<{$field_type}>').attr('disabled',true);

	//判断删除的是否为系统基础字段
	var size = $("#_table_field_confirm_<{$field_type}> input[type=checkbox]").size();
	if(size <= control_flag)
	{
		$.messager.alert("提示","<br>系统初始字段，不能删除！");
		$('#_field_del_row_<{$field_type}>').attr('disabled',false);
		return false;
	}

	//要删除的字段
	var first_unit = $("#_table_field_confirm_<{$field_type}> input[type=checkbox]").eq(size-1).attr('fields');
	var second_unit = $("#_table_field_confirm_<{$field_type}> input[type=checkbox]").eq(size-2).attr('fields');

	var _data = {};
	_data.field_type = field_type;
	_data.first_unit   = first_unit; //字段表对应field
	_data.second_unit   = second_unit; //字段表对应field

	$.messager.confirm("提示","<br>将删除自定义字段最后一行<br>是否继续？",function(r){
		if(r)
		{
			$.ajax({
				type:'POST',
				url: "index.php?c=field_confirm&m=delete_create_field",
				data: _data,
				dataType: "json",
				success: function(responce){
					if(responce["error"] == 0)
					{
						$("#_table_field_confirm_<{$field_type}> tr:last-child").remove();
					}
					else
					{
						$.messager.alert('错误',responce["message"],'error');
					}

					$('#_field_del_row_<{$field_type}>').attr('disabled',false);
				}
			});
		}
		else
		{
			$('#_field_del_row_<{$field_type}>').attr('disabled',false);
		}
	});
}

/**
*  保存配置
*/
function _save_field()
{
	var _data = {}
	$("#_table_field_confirm_<{$field_type}> input[type=checkbox]").each(function(){
		var fields = $(this).attr('fields');
		if(typeof(fields) != 'undefined' && fields != "" )
		{
			var if_select = $(this).attr('checked');
			var field_value = $('#_'+fields).val();
			_data[fields] = if_select+"|"+field_value;
		}
	});

	if( !empty_obj(_data) )
	{
		$('#_field_confirm_save_<{$field_type}>').attr('disabled',true);
		$.ajax({
			type:'POST',
			url: "index.php?c=field_confirm&m=update_fields_confirm",
			data: {"_data":_data,"field_type":'<{$field_type}>'},
			dataType: "json",
			success: function(responce)
            {
				if(responce["error"] == 0)
				{
					<{if !$if_refesh}>
					window.location.reload();
					<{/if}>
					$("#_field_save_tip_<{$field_type}>").html("<img src='./themes/default/icons/ok.png' />&nbsp;保存配置成功");
					setTimeout(function(){
						$("#_field_save_tip_<{$field_type}>").html("");
						$('#set_field_confirm').window('close');
					},3000);
				}
				else
				{
					$.messager.alert('错误','保存失败','error');
				}

				$('#_field_confirm_save_<{$field_type}>').attr('disabled',false);
			}
		});
	}
	else
	{
		$('#set_field_confirm').window('close');
	}
}
</script>