<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>知识库</title>
<link href="themes/default/knowledge.css" type="text/css" rel="stylesheet" />
<link href="themes/default/easyui.css" rel="stylesheet" type="text/css" />
<link href="themes/default/icon.css" rel="stylesheet" type="text/css" />
<script src="jssrc/jquery.js?v=1.7.2" type="text/javascript"></script>  
<script src="jssrc/common.js" type="text/javascript"></script>
<script src="jssrc/jquery.easyui.min.js?v=1.2.6" type="text/javascript"></script>
<script src="jssrc/ckeditor/ckeditor.js" type="text/javascript" ></script>
<script src="jssrc/easyui-lang.js" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript">
$(document).ready(function() {
	$('#knowledge_class').tree({
		url:'index.php?c=knowledge&m=get_class_tree',
		lines:true,
		onClick : function(node){
			var class_id = ($('#knowledge_class').tree('getSelected')).id
			var deep = ($('#knowledge_class').tree('getSelected')).attributes
			var class_name = ($('#knowledge_class').tree('getSelected')).text
			art_more(class_id);
		}
	});
	
	$('#hot_div').panel('open').panel('refresh','index.php?c=knowledge&m=get_hot_art');
});

/*栏目管理*/
function _class_manage()
{
	$('#class_window').window({
		title: '栏目管理',
		href:"index.php?c=knowledge&m=get_class_page",
		iconCls: "icon-seting",
		top:150,
		width:530,
		closed: false,
		collapsible:false,
		minimizable:false,
		maximizable:false,
		cache:false,
		modal:true,
		onClose:function(){
			$('#knowledge_class').tree('reload');//重新加载树
			$('#knowledge_panel').panel('open').panel('refresh','index.php?c=knowledge&m=get_main_content');//重新加载
		}
	});
}

/*添加文章*/
function _add_article()
{
	$('#_path').html("<a href='###'>添加文章</a>>");
	$('#knowledge_panel').panel('open').panel('refresh','index.php?c=knowledge&m=add_article');
}

/*回首页*/
function go_home_page()
{
	$('#_path').html('');
	$('#knowledge_panel').panel('open').panel('refresh','index.php?c=knowledge&m=get_main_content');
}

/*搜索*/
function quick_search(value,name)
{
	if(value!='')
	{
		$('#_path').html("<a href='###'>搜索</a>>");
		$('#knowledge_panel').panel('open').panel('refresh','index.php?c=knowledge&m=get_more_article_page&search_key='+encodeURIComponent(value));
	}
	else
	{
		$.messager.alert('提示','<br>没有搜索内容','info');
		return;
	}

}

/*更多页*/
function art_more(class_id)
{
	get_menu_content(class_id,'');
	$('#knowledge_panel').panel('open').panel('refresh','index.php?c=knowledge&m=get_more_article_page&k_class_id='+class_id);
}

/*获取菜单内容*/
function get_menu_content(class_id,art_title)
{
	$.ajax({
		type:'POST',
		url: "index.php?c=knowledge&m=get_class_name",
		data:{'k_class_id':class_id},
		dataType:"json",
		success: function(responce){
			if(responce['error']=='0')
			{
				if(art_title.length!=0)
				{
					var content = responce['content'] + art_title;
				}
				else
				{
					var content = responce['content'];
				}
				$('#_path').html(content);
			}
		}
	});
}
/*文章详情页*/
function art_detail(art_id,art_title,class_id)
{
	get_menu_content(class_id,art_title);
	$('#knowledge_panel').panel('open').panel('refresh','index.php?c=knowledge&m=show_article_detail&k_art_id='+art_id);
}

</script>
</head>
<body class="easyui-layout">
	<div data-options="region:'north',title:'',split:false"  style='overflow:hidden;'>
		<div style="height:30px;float:left;padding-top:10px;padding-left:20px;">
			<span class="head_cont">
				<a href='###' onclick='go_home_page()'> 知识库 </a> > <span id='_path'></span>
			</span>
		</div>
		<div style="height:30px;float:right;padding-top:10px;padding-right:20px;">
			<input type='text' id="search" class="easyui-searchbox" searcher="quick_search" style="width:420px;" data-options="prompt:'搜索'" />
		</div>
	</div>

	<div data-options="region:'east',title:'',split:false" style='width:240px;overflow:hidden;'>
		<div class="easyui-panel">
			<div  style="text-align:center;height:35px;margin-top:15px;padding-left:20px;">
				<{if $power_zsk_class}>
				<button type="button" onclick="_class_manage()">栏目管理</button>&nbsp;&nbsp;&nbsp;&nbsp;
				<{/if}>
				<{if $power_zsk_insert}>
				<button type="button" onclick="_add_article()">添加文章</button>
				<{/if}>
			</div>
		</div>
		<div class="easyui-panel" title="栏目列表" id='class_div' style="height:230px;overflow:auto;">
			<ul id="knowledge_class"></ul>
		</div>
		<div class="easyui-panel" title="热点关注" id='hot_div' style="height:230px;overflow:auto;">	</div>
	</div>

	<div data-options="region:'center',title:'',split:false" style="overflow:auto;">
		<div id='knowledge_panel' class='easyui-panel' href='index.php?c=knowledge&m=get_main_content'></div>
	</div>

	<div id='class_window'></div>
</body>
</html>