<div style="background:#fff;border:1px solid #ccc;">
<input type='hidden' size='25' id='cle_name' name='cle_name' value="<{$cle_name|default:''}>"/>
 	<table borderColor="#ffffff" cellSpacing="0" cellPadding="1"  align="center" border="1">
     <tbody>
        <tr>
            <td class="micro-label" >提醒时间：</td>
            <td>
            <span class="combo datebox" style="width: 115px;"><input type="text" class="combo-text validatebox-text easyui-validatebox" id='rmd_time' name='rmd_time' readonly style="width: 95px;" value="<{$remind_info.rmd_time}>"><span><span class="combo-arrow combo-arrow-hover" onclick="WdatePicker({el: 'rmd_time',minDate:'<{$remind_info.rmd_time}>',readOnly:'true' })" ></span></span></span>
            &nbsp; 时间：<{html_select_time use_24_hours=true display_seconds=false minute_interval=10 prefix='rmd_' }>
            </td>
       </tr>   
       <tr>
	       <td class="micro-label" >短信提示：</td><td> <input type="checkbox" name='rmd_sendsms' id='rmd_sendsms' value="1" <{if $remind_info.user_sms_phone =='' }> disabled <{else}> CHECKED <{/if}> /> <{$remind_info.user_sms_phone}> <span style="color: red;">提示：短信号码可在坐席个人设置中修改</span></td>    
       </tr>
       <tr> 
            <td class="micro-label" ><label for="rmd_remark">提醒内容：</lable></td><td><textarea cols="47" rows="5" name="rmd_remark" id="rmd_remark" class="easyui-validatebox"  required="true" missingMessage="提醒内容不能为空"><{$result.remark}></textarea></td>
       </tr>
       <tr>
       <td align="center" colspan="2">
       <span id="_remind_msg_info" style='color:red;'></span>
       <a class="easyui-linkbutton" iconCls="icon-save" href="javascript:void(0)" id="submit_remind_btn">保存</a>
       </td>
       </tr>
     </tbody>
 </table>
</div>
<script language="JavaScript" type="text/javascript">
//保存提醒
$('#submit_remind_btn').click(function(){
	if( !$('#rmd_remark').validatebox('isValid')  ) //提醒内容
	{
		return false;
	}
	var _data = {};
	_data.rmd_param_in	 = "<{$remind_info.rmd_param_in|default:'0'}>"//int型参数
	_data.rmd_param_char = "<{$remind_info.rmd_param_char|default:''}>"//varchar型参数
	_data.rmd_time	     = $('#rmd_time').val()+" "+$('select[name="rmd_Hour"]').val()+":"+$('select[name="rmd_Minute"]').val();//提醒时间
	_data.rmd_sendsms    = $("#rmd_sendsms").attr('checked')=='checked'?1:0;//是否短信提醒
	_data.user_sms_phone = "<{$remind_info.user_sms_phone|default:''}>";//短信提醒号码
	_data.rmd_remark     = $('#rmd_remark').val();//提醒内容
	_data.rmd_type       = "<{$remind_info.rmd_type|default:'0'}>"

	$('#submit_remind_btn').linkbutton('disable');
	if($('#rmd_time').val().length!=0)
	{
		$.ajax({
			type:'POST',
			url: 'index.php?c=remind&m=insert_remind',
			data:_data,
			dataType:"json",
			success: function(responce){
				if(responce['error']===0){
					$('#_remind_msg_info').html("<img src='./themes/default/icons/ok.png' />&nbsp;新建提醒成功！");
					$('#remind_list').datagrid('reload');
					setTimeout(function(){$('#set_remind').window('close')},1000);
				}
				else
				{
					$.messager.alert('错误','保存提醒失败','error');
					$('#submit_remind_btn').linkbutton('enable');
				}
			}
		});
	}
	else
	{
			$.messager.alert('错误','提醒日期不能为空','error');
	}
});
</script>