<{include file="pageheader.htm"}>
<input type="hidden" id="service_cle_id"  name="service_cle_id" value="<{$service_cle_id|default:'0'}>" />
<div class="form-div" id='_search_panel'></div>
<div id="service_list"></div>
<div id="datagrid_service"></div>
<{include file="pagefooter.htm"}>
<script src="./jssrc/datepicker/WdatePicker.js" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript">
$(document).ready(function(){
	$('#_search_panel').panel({
		href:'index.php?c=service&m=base_search',
		onLoad:function(width, height){
			$('#service_list').datagrid('resize',{
				height:get_list_height_fit_window('_search_panel')
			});
		}
	});

	//设置列表
	$('#service_list').datagrid({
		title:"客服服务信息",
		height:get_list_height_fit_window('_search_panel'),
		nowrap: true,
		striped: true,
		pagination:true,
		rownumbers:true,
		checkOnSelect:false,
		pageSize:get_list_rows_cookie(),
		pageList:[50,30,10],
		sortName:'serv_accept_time',
		sortOrder:'desc',//降序排列
		idField:'serv_id',
		url:"index.php?c=service&m=get_service_list",
		queryParams:{"all_type":"2"},
		frozenColumns:[[
		{field:'ck',checkbox:true},
		{title:"cle_id",field:"cle_id",hidden:true},
		{title:'操作',field:'opter_txt',width:60,align:"CENTER",formatter:function(value,rowData,rowIndex){
			return "<a href='javascript:;' onclick=edit_service('"+rowData.serv_id+"') title='受理'>【受理】</a>";
		}}
		]],
		columns:[[
		<{section name=key loop=$serv_display_field}>
		{title: "<{$serv_display_field[key].name}>" ,field: '<{$serv_display_field[key].fields}>' , align:'CENTER',width:"<{$serv_display_field[key].field_list_width}>",sortable:true,formatter:function(value,rowData,rowIndex){
			<{if $serv_display_field[key].fields == "con_mobile" || $serv_display_field[key].fields == "cle_phone" }>
			if(value)
			{
				var real_phone = value;
				<{if !$power_phone_view}>
				value = hidden_part_number(value);
				<{/if}>
				return "<a href='javascript:;' onclick = sys_dial_num('"+value+"'); title='呼叫'  >"+value+"<img src='./image/phone.png' border='0' height='16' width='16' align='absmiddle' /></a><{if $power_sendsms}>&nbsp;&nbsp;<a href='javascript:;' onclick=sys_send_sms("+real_phone+"); title='短信' ><img src='./image/message.png' border='0' height='16' width='16' align='absmiddle' /></a><{/if}>";
			}
			<{elseif $serv_display_field[key].fields == "cle_name" }>
			return "<a href='###' onclick=client_exist("+rowData.cle_id+")  title='客户详情'>"+value+"<img src='image/file.png' /></a>";
			<{elseif $serv_display_field[key].fields == "serv_content" }>
			return "<a href='javascript:;' onclick=edit_service('"+rowData.serv_id+"') title='受理'>"+value+"</a>";
			<{else}>
			return value;
			<{/if}>
		}},
		<{/section}>
		{title:"serv_id",field:"serv_id",hidden:true}
		]],
		onLoadSuccess: function(){
			$('#service_list').datagrid('clearSelections');
			$('#service_list').datagrid('clearChecked');
		},
		toolbar:[
		<{if $power_service_add}>
		{
			text:'新建服务',
			iconCls:'icon-add',
			handler:function(){
				window.parent.addTab('新建服务',"index.php?c=service&m=add_service","menu_icon");
			}
		},'-',
		<{/if}>
		<{if $power_service_delete}>
		{
			iconCls:'icon-del',
			text:'删除客服信息',
			handler:function(){
				var ids = getSelections();
				if(ids == '')
				{
					$.messager.alert('提示','<br>请选择要删除的数据','info');
					return;
				}
				$.messager.confirm('提示', '<br>删除'+selected_num+'条数据', function(r){
					if(r)
					{
						//删除客服服务数据
						delete_service(ids);
					}
					else
					{
						return false;
					}
				});
			}
		} ,'-',
		<{/if}>
		<{if $power_service_export}>
		{
			iconCls:'icon-up',
			text:'导出CSV',
			handler:function(){
            export_service('csv');
			}
		},'-',
        {
            iconCls:'icon-up',
            text:'导出excel',
            handler:function(){
                export_service('excel');
            }
        },'-',
		<{/if}>
		{
			iconCls:'icon-seting',
			text:'列表设置',
			handler:function(){
				$('#datagrid_service').window({
					title: '显示列表设置',
					href:"index.php?c=datagrid_confirm&display_type=7",
					iconCls: "icon-edit",
					top:150,
					width:350,
					height:380,
					closed: false,
					collapsible:false,
					minimizable:false,
					maximizable:false,
					cache:false
				});
			}
		},'-'
		]
	});
	var pager = $('#service_list').datagrid('getPager');
	$(pager).pagination({onChangePageSize:function(rows){
		set_list_rows_cookie(rows);
	}});
});

//得到选中项的 客服ID
var selected_num  = 0;
function getSelections()
{
	selected_num  = 0;
	var ids = [];

	var rows = $('#service_list').datagrid('getChecked');
	for(var i=0;i<rows.length;i++)
	{
		ids.push(rows[i].serv_id);
		selected_num++;
	}

	return ids.join(',');
}

/**
*  删除  客服服务
*/
function delete_service(serv_id)
{
	if( !serv_id )
	{
		$.messager.alert("提示","<br>缺少必要参数！","info");
		return false;
	}

	$.messager.confirm('提示', '<br>是否删除该信息？', function(r){
		if(r){
			$.ajax({
				type:'POST',
				url: "index.php?c=service&m=delete_service",
				data: {"serv_id":serv_id},
				dataType: "json",
				success: function(responce){
					if(responce["error"] == 0)
					{
						$('#service_list').datagrid('load');
					}
					else
					{
						$.messager.alert('错误',responce["message"],'error');
					}
				}
			});
		}
	});
}

/**
*  编辑 客户服务
*/
function edit_service(serv_id)
{
	if( !serv_id )
	{
		$.messager.alert("提示","<br>缺少必要参数！","info");
		return false;
	}

	window.parent.addTab('客服受理',"index.php?c=service&m=edit_service&serv_id="+serv_id,"menu_icon");
}

//列表 - 业务受理
function link_client_accept(cle_id)
{
	window.parent.addTab('业务受理','index.php?c=client&m=accept&cle_id='+cle_id,'menu_icon');
}

//基本搜索
function base_search()
{
	$('#_search_panel').panel('open').panel('refresh','index.php?c=service&m=base_search');
}

//高级搜索
function advanced_search()
{
	$('#_search_panel').panel('open').panel('refresh','index.php?c=service&m=advance_search');
}

/*客户详情*/
function client_exist(cle_id)
{
	$.ajax({
		type:"POST",
		url:'index.php?c=client&m=client_exist',
		data:{"cle_id":cle_id},
		dataType:'json',
		success:function (responce){
			if(responce['error']=='0'){
				window.parent.addTab('业务受理','index.php?c=client&m=accept&system_pagination=0&cle_id='+cle_id,'menu_icon');
			}
			else
			{
				$.messager.alert('错误',responce['message'],'error');
			}
		}
	});
}

/*导出*/
function export_service(type)
{
    //列表参数
    var datagrid_param = $('#service_list').datagrid('options');
    var queryParams   = datagrid_param.queryParams;

    //排序
    queryParams.sortName  = datagrid_param.sortName;
    queryParams.sortOrder = datagrid_param.sortOrder;
    queryParams.total     = $('#service_list').datagrid('getData').total;

    var sql_condition = json2url(queryParams);
    if( sql_condition )
    {
        sql_condition = "&"+sql_condition;
    }
    window.location.href = 'index.php?c=service&m=service_output'+sql_condition;

    if(type == 'excel' && queryParams.total>10000)
    {
        $.messager.confirm('数据量大，建议用【导出CSV】导出数据', '<br>确定继续导出excel吗？', function(r){
            if(r){
                window.location.href = 'index.php?c=service&m=service_output&export_type='+type+sql_condition;
            }
            else
            {
                return false;
            }
        });
    } else {
        window.location.href = 'index.php?c=service&m=service_output&export_type='+type+sql_condition;
    }
}
</script>