<!--   workbench.htm   $YHX 20125-05-08 -->
<{include file="pageheader.htm"}>
    <style>
        .table-no-margin{
            margin-bottom: 0;
        }
    </style>
<script src="jssrc/jquery.portal.js" type="text/javascript" ></script>
<link href='themes/default/portal.css' rel='stylesheet' type='text/css' />
<div border="false" id="workbench_protal">

    <div style='width:50%;float:left;' id="box_left_div"><!-- box left  begin-->
        <!-- 统计 start  -->
        <div id="div_callrecord" data-options="iconCls:'icon-workbench',tools:'#div_call'" title="<{$stat_title}>" style="float:left;width:96%;border:1px solid #BFBFBF;">
            <div id="div_call">
                <a href="#" class="icon-more" style="width:51px;" title="坐席工作量统计" onclick="javascript:window.parent.addTab('坐席工作量统计','index.php?c=statistics&m=statistics_tree','menu_icon_tjfxzhsjtjfx');"></a>
            </div>
            <{if $role_type != 2}>
            <!-- 部门的统计-->
            <div>
                <table class="table table-bordered table-striped table-condensed table-no-margin">
                    <tr>
                        <th>坐席</th>
                        <th>通话数</th>
                        <th>呼通数</th>
                        <!--<th>转化量</th>
                        <th>新增客户</th>
                        <th>回访客户</th>-->
                    </tr>
                    <{section name=loop loop=$statistics}>
                    <tr>
                        <td align="center"><{$statistics[loop].user_name}>[<{$statistics[loop].user_num}>]</td>
                        <td align="center"><{$statistics[loop].conn_num}></td>
                        <td align="center"><{$statistics[loop].conn_success}></td>
                        <!--转化量-->
<!--                        <td align="center"><{$statistics[loop].transformation}></td>-->
                        <!-- 新增客户 -->
<!--                        <td align="center"><{if $statistics[loop].new_increment > 0 }> <a href='#' onclick="get_manage_list('<{$statistics[loop].user_id}>','<{$statistics[loop].deal_date}>~<{$statistics[loop].deal_date}>',2,'')" style='text-decoration: underline;'><{$statistics[loop].new_increment}></a> <{else}> <{$statistics[loop].new_increment}> <{/if}></td>-->
                        <!-- 回访客户 -->
<!--                        <td align="center"><{if $statistics[loop].cle_visit > 0 }> <a href='#' onclick="get_manage_list('<{$statistics[loop].user_id}>','<{$statistics[loop].deal_date}>~<{$statistics[loop].deal_date}>',3,'')" style='text-decoration: underline;'><{$statistics[loop].cle_visit}></a> <{else}> <{$statistics[loop].cle_visit}> <{/if}> </td>-->
                    </tr>
                    <{/section}>
                </table>
            </div>
            <{else}>
            <!--坐席自己的统计-->
            <div style="background:#FFFFFF;padding-left:10px;overflow: auto;" id="clum_show">
                <div style="height:260px;" id="chart_chum"> </div>
            </div>
            <{/if}>
        </div><!-- 统计 end  -->

        <!--    公告   start     -->
        <div id="div_announcement" data-options="iconCls:'icon-workbench',tools:'#div_annou'" title="公告" style="float:left;width:96%;border:1px solid #BFBFBF;">
            <div id="div_annou">
                <{if $power_announcement_change}>
                <a href="#" class="icon-new" style="width:51px;" title="添加新公告"
                   onclick="window.parent.addTab('添加公告','index.php?c=announcement&m=add_announcement','menu_icon');"></a>
                <{/if}>
                <{if $power_announcement_more}>
                <a href="#" class="icon-more" style="width:51px;" title="更多公告"
                   onclick="window.parent.addTab('公告管理','index.php?c=announcement','menu_icon_announcement');"></a>
                <{/if}>
            </div>
            <div>
                <table class="table table-condensed table-hover table-no-margin">
                <{if $anns_info}>
                <{section name=loop loop = $anns_info}>
                    <tr>
                        <td>
                            <a href='javascript:void(0);' onclick="anns_view('<{$anns_info[loop].anns_id}>')">
                                <{$anns_info[loop].anns_title}>
                            </a>
                        </td>
                        <td>
                            <{$anns_info[loop].creat_time}>
                        </td>
                        <td>
                            <{if $user_session_id == $anns_info[loop].create_user_id}>
                            <{if $power_announcement_change}>
                            <a href='javascript:void(0);' onclick="anns_remove('<{$anns_info[loop].anns_id}>')" title='删除公告'>
                                <span class="glyphicon glyphicon-remove"></span>
                            </a>
                            <a href='javascript:;' onclick="_update('<{$anns_info[loop].anns_id}>')" title='编辑公告'>
                                <span class="glyphicon glyphicon-edit"></span>
                            </a>
                            <{/if}>
                            <{/if}>
                        </td>
                    </tr>
                <{/section}>
                <{else}>
                 <tr>
                      <td><div class="alert alert-warning" style="margin-bottom: 0">没有公告</div></td>
                 </tr>
                <{/if}>
                </table>
            </div>
        </div><!--  -----公告 -end--------->

    </div><!--box left end  -->

    <!----------------------------------------------------------------------------------------->

    <div style='width:50%;float:right;' id="box_right_div"><!--     box  right    begin -->
        <!--  今天要回访客户 start  -->
        <div id="div_visitclient"  title="今天要回访客户" data-options="iconCls:'icon-workbench',tools:'#div_visit'" style="float:left;width:96%;border:1px solid #BFBFBF;">
            <div id="div_visit">
                <a href="#" class="icon-more" style="width:51px;" title="更多回访客户" onclick="javascript:window.parent.addTab('今天要回访客户','index.php?c=client&visit_type=2','menu_icon');"></a>
            </div>
            <div>
                <table class="table table-condensed table-hover table-no-margin">
                    <tr>
                        <th>客户名称</th>
                       <!-- <th>客户阶段</th>-->
                        <th>最近一次联系时间</th>
                    </tr>
                    <{section name=loop loop=$revisit_client_info}>
                    <tr>
                        <!--客户名称-->
                        <td>
                            <{$revisit_client_info[loop].cle_name}>
                            <a href='#' onclick="window.parent.addTab('业务受理','index.php?c=client&m=accept&type=client&cle_id=<{$revisit_client_info[loop].cle_id}>','menu_icon');" title='业务受理'>
                                <img src='./image/file.png'>
                            </a>
                        </td>
                        <!-- 客户阶段 -->
                       <!-- <td><{$revisit_client_info[loop].cle_stage}></td>-->
                        <!-- 最近一次联系时间 -->
                        <td><{$revisit_client_info[loop].cle_last_connecttime}></td>
                    </tr>
                    <{/section}>
                </table>
            </div>
        </div><!-- 今天要回访客户 end  -->

        <!--     我的提醒    start    -->
        <div id="div_myremind" iconCls="icon-workbench" title="我的提醒" style="float:left;width:96%;border:1px solid #BFBFBF;"  class="main-div">
            <div>
                <table class="table table-condensed table-hover table-no-margin">
                    <tr>
                        <th>今日提醒</th>
                    </tr>
                    <{if $action[2]}>
                    <{section name=loop loop=$action[2]}>
                    <tr>
                        <td>
                            <a href='javascript:void(0);' onclick="parent._show_remind('<{$action[2][loop].rmd_id}>');">〖<{$action[2][loop].rmd_param_char}>〗<{$action[2][loop].rmd_remark}></a>
                            <span><{$action[2][loop].rmd_time}></span>
                            <{if $smarty.section.loop.rownum==5}>
                            <a href="#" onclick="window.parent.addTab('我的提醒','index.php?c=remind&m=list_remind','menu_icon_wdtu')"> 更多>> </a>
                            <{/if}>
                        </td>
                    </tr>
                    <{/section}>
                    <{else}>
                    <tr>
                        <td><div class="alert alert-warning" style="margin-bottom: 0">今日没有未处理的提醒</div></td>
                    </tr>
                    <{/if}>
                </table>

                <table class="table table-condensed table-hover table-no-margin">
                    <tr>
                        <th>7日内的提醒</th>
                    </tr>
                    <{if $action[3]}>
                    <{section name=loop loop=$action[3]}>
                    <tr>
                        <td>
                            <a href='javascript:void(0);' onclick="parent._show_remind('<{$action[3][loop].rmd_id}>');">
                                〖<{$action[3][loop].rmd_param_char}>〗<{$action[3][loop].rmd_remark}>
                            </a>
                            <span><{$action[3][loop].rmd_time}></span>
                            <{if $smarty.section.loop.rownum==5}>
                            <a href="#" onclick="window.parent.addTab('我的提醒','index.php?c=remind&m=list_remind','menu_icon_wdtu')"> 更多>> </a>
                            <{/if}>
                        </td>
                    </tr>
                    <{/section}>
                    <{else}>
                    <tr>
                        <td><div class="alert alert-warning" style="margin-bottom: 0">没有7日内未处理的提醒</div></td>
                    </tr>
                    <{/if}>
                </table>

                <table class="table table-condensed table-hover table-no-margin">
                    <tr>
                        <th>超期提醒</th>
                    </tr>
                    <{section name=loop loop=$action[1]}>
                    <tr>
                        <td>
                            <a href='javascript:void(0);' onclick="parent._show_remind('<{$action[1][loop].rmd_id}>');">〖<{$action[1][loop].rmd_param_char}>〗<{$action[1][loop].rmd_remark}></a>
                            <span style="color:#808080;padding-left:3px;text-align:right;"> <{$action[1][loop].rmd_time}></span>
                            <{if $smarty.section.loop.rownum==3}>
                            <a href="#" class="underline" style='font-weight:bold;' onclick="window.parent.addTab('我的提醒','index.php?c=remind&m=list_remind','menu_icon_wdtu')"> 更多>> </a>
                            <{/if}>
                        </td>
                    </tr>
                    <{/section}>
                </table>
            </div>
        </div><!-- 我的提醒 end-->

        <!--  未读消息 start  -->
        <div id="div_readmeg" data-options="iconCls:'icon-workbench',tools:'#div_message'" title="未读消息" style="float:left;width:96%;border:1px solid #BFBFBF;">
            <div id="div_message">
                <a href="#" class="icon-more" style="width:51px;" title="更多消息" onclick="window.parent.addTab('我的消息','index.php?c=message','menu_icon_wdxx');"></a>
            </div>
            <div>
                <table class="table table-condensed table-no-margin">
                    <{if $message}>
                    <{section name=loop loop = $message}>
                    <tr>
                        <td>
                            @<{$message[loop].msg_send_user_name}>：
                            <a href='#' onclick="message_view('<{$message[loop].msg_id}>','<{$message[loop].msg_send_user_id}>','<{$message[loop].msg_send_user_name}>')" title='查看'>
                                <{$message[loop].msg_content|truncate:20}>
                            </a>
                            <{$message[loop].msg_insert_time}>
                        </td>
                    </tr>
                    <{/section}>
                    <{else}>
                    <tr>
                        <td><div class="alert alert-warning" style="margin-bottom: 0">没有未读消息</div></td>
                    </tr>
                    <{/if}>
                </table>
            </div>
        </div><!-- 未读消息 end  -->

        <!--  我的未接来电 start  -->
        <div id="div_mymisscalls" data-options="iconCls:'icon-workbench',tools:'#div_misscall'" title="我的未接来电" style="float:left;width:96%;border:1px solid #BFBFBF;">
            <div id="div_misscall">
                <a href="#" class="icon-more" style="width:51px;" title="更多未接来电" onclick="window.parent.addTab('未接来电','index.php?c=missed_calls','menu_icon_wjldgl');"></a>
            </div>
            <div>
                <table class="table table-bordered table-striped table-condensed table-no-margin">
                    <tr>
                        <th>未接来电号</th>
                        <th>来电时间</th>
                        <th>原因</th>
                    </tr>
                    <{section name=loop loop = $my_misscall_info}>
                    <tr>
                        <!--未接来电号-->
                        <td>
                            <span id='miss_caller_number<{$my_misscall_info[loop].id}>'>
                                <{$my_misscall_info[loop].caller}>
                            </span>
                            <a href='#' onclick="accept('<{$my_misscall_info[loop].id}>','<{$my_misscall_info[loop].caller}>','<{$my_misscall_info[loop].cle_id}>')"  title='处理未接来电'>〖处理〗</a>
                        </td>
                        <!-- 来电时间 -->
                        <td><{$my_misscall_info[loop].date}></td>
                        <!-- 原因 -->
                        <td><{$my_misscall_info[loop].miss_reason}></td>
                    </tr>
                    <{/section}>
                </table>
            </div>
        </div><!-- 我的未接来电 end  -->

    </div><!-- box right end  -->
    <!--------------------------------------------------------------------------------------->
</div>

<!-- 详情窗口 -->
<div id="window" title="详细信息" style="width:600px;height:300px;padding:10px;display:none">
	<div style="padding-top:5px;padding-bottom:5px;background:#fff;">
		<label>详细信息：</label>
		<div id="SR_content" style="border:1px solid #ccc;width:100%;height:200px;font-family:verdana;padding-top:5px"></div>
	</div>
</div>
<div id='message_panel'></div>
<div id="view_message"></div><!--显示信息 -->

<script src="./jssrc/fusionCharts.js" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript">
$(document).ready(function() {
	//电话显示
	<{if !$power_phone_view}>
	<{section name=loop loop = $my_misscall_info}>
	$('#miss_caller_number<{$my_misscall_info[loop].id}>').text(hidden_part_number('<{$my_misscall_info[loop].caller}>'));
	<{/section}>
	<{/if}>

	//初始化div位置
	<{if $user_workbench_layout}>
	var org_layout = decodeURIComponent('<{$user_workbench_layout}>');
	_user_workbench_layout(org_layout);
	<{/if}>

	//初始化portal
	var layout_record = "<{$user_workbench_layout|default:''}>";
	_workbench_protal(layout_record);

	//统计(管理员)
	var role_type = <{$role_type}>;
	var statistics = <{if $statistics}><{$statistics}><{else}>0<{/if}>;
	var statistics = "";
	<{if $statistics}>
	statistics = <{$statistics}>;
	<{/if}>
	//统计(坐席)
	<{if $role_type==2 && $statistics !=0}>
	setTimeout(function(){
		success_chumn();//成功数-柱状图
	},1000);
	<{/if}>
});
//坐席当天的统计-柱状图
function success_chumn()
{
	var graph ="";
	<{if $statistics}>
	graph += "<set name='通话数'   value='<{$statistics.conn_num}>' color='AFD8F8'/>";
	graph += "<set name='呼通数'   value='<{$statistics.conn_success}>' color='F6BD0F'/>";
	/*graph += "<set name='转化量'   value='<{$statistics.transformation}>'  color='AFD8F8'/>";
	graph += "<set name='新增客户' value='<{$statistics.new_increment}>' color='FF8E46'/>";
	graph += "<set name='回访客户' value='<{$statistics.cle_visit}>' color='008E8E'/>";
	graph += "<set name='退化量'   value='<{$statistics.recede_num}>' color='8BBA00'/>";*/
	<{/if}>
	var finishXML="<graph caption='<{if $statistics}><{$statistics.deal_date}><{/if}> 数据统计情况 ' xAxisName='' yAxisName='number' hovercapbg='FFECAA' hovercapborder='F47E00' formatNumberScale='0' decimalPrecision='0' showvalues='1'  animation='0'  numdivlines='5'  divLineDecimalPrecision='0'  rotateNames='0' numVdivlines='0' yaxisminvalue='0' yaxismaxvalue='' lineThickness='1' showLegend='1' baseFontSize='12' formatNumber='1' numberSuffix=''>"+
	graph+
	"</graph> ";
	var w = $('.main-div').width()-10;
	var chart1 = new FusionCharts("./charts/FCF_Column3D.swf","ChartId",w,"260");
	chart1.setDataXML(finishXML);
	chart1.render("chart_chum");
}
</script>
<script src="./jssrc/viewjs/workbench.js" type="text/javascript"></script>
<{include file="pagefooter.htm"}>