@charset "utf-8";
body{
	background:url(../../image/login_bg_new.png) repeat-x center top;
	background-color:#4286dc;
	margin:0;padding:0;
	text-align:center;
	overflow-x:hidden;
	font: 15px "sans-serif", "Arial", "Verdana";
}

#panel{
	margin:auto; 
	width:1024px;
	height:490px;
}

#log_table {
	height: 183px;
	width: 602px;
}
#log_table table th {
    width: 400px;
    text-align: right;
}
#log_table table td {
	padding-top: 4px;
	padding-bottom: 3px;
}
#log_table input {
	line-height:16px;
	height:16px;
	width:175px;

}

#login_button{
	width:100px;
	height:34px;
	background:url(../../image/login_icon.png);
}

#copy_right {
	font-family: "宋体";
	font-size: 12px;
	text-align: center;
}